# Xcode
## Build generated
build/
DerivedData/
xcuserdata/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other
*.moved-aside
*.xcuserstate
*.xcworkspace

# OSX
*.DS_Store

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
TestObjectiveDropbox_OSX/Pods/
TestObjectiveDropbox_iOS/Pods/
Examples/DBRoulette/DBRoulette/Pods/

# Carthage
Carthage/Build
Examples/DBRoulette_Carthage/Carthage/

